.view.focus {
    z-index: 1;
}

.app.create .view {
    display: none;
}

.view-content > div {
    margin-left: auto;
    margin-right: auto;
}

.view:not(.focus) {
    height: 0;
    width: 0;
    opacity: 0;
    z-index: 1;
}

.annotationLayer {
    display: none;
} 

.channelList {
    display: flex;
    flex-direction: row;
}

.channelList-item {
    cursor: auto;
    flex-shrink: 1;
    flex-grow: 0;
}

.presenter .channelList-item {
    cursor: pointer;
}

.channelList-item input {
    width: 0;
    height: 0;
    opacity: 0;
}

.pdf-content {
    display: flex;
}

.pdf-listPages {
    overflow-y: auto;
    padding-right: 2em;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
}

.pdf-page {
    margin-left: 1em;
}

.pdf-listPages-item.pdf-page-displayed {
    outline: 3px red solid;
}

.pdf-listPages-item {
    border: solid 1px grey;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
}

.pdf-page-number {
    font-size: 0.8em;
}

.pointerWrapper {
    position: relative;
}

.pointer {
    border: solid 2px red;
    padding: 1px;
    width: 5px;
    height: 5px;
    position: absolute;
    z-index: 1;
}
